<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>ChanterProj</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.min.css" rel="stylesheet">
		<link href="/styles/custom.css" rel="stylesheet">

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	
	<body>
		<div id="header">
				<div role="navigation" class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
							</button>
							<a href="/" class="navbar-brand">ChanterProj</a>
						</div>
						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav navbar-left">
								
								{{# each navLinks}}
									{{#ifeq @index 1}}
										<li class="dropdown nav">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Presentation <span class="caret"></span></a>
											<ul class="dropdown-menu">
												<li><a href="/comitee">Comite de la FSCV</a></li>
												<li><a href="/commission">Commission de Musique</a></li>
												<li><a href="#">Groupements</a></li>
												<li role="separator" class="divider"></li>
												<li><a href="#">Membres d'honneur</a></li>
											</ul>
										</li>
										<li class="dropdown nav">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Chefs de choeurs<span class="caret"></span></a>
											<ul class="dropdown-menu">
												<li><a href="/pages/page/avcc">Presentation AVCC</a></li>
												<li><a href="/pages/page/avcchistory">Historique AVCC</a></li>
												<li><a href="/pages/page/avcccommittee">Comite AVCC</a></li>
												<li><a href="#">Fonds choral et Foyer AVCC</a></li>
												<li><a href="/pages/page/avccformation">Prochaine formation AVCC</a></li>
											</ul>
										</li>

										<li class="dropdown nav">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Service<span class="caret"></span></a>
											<ul class="dropdown-menu">
												<li><a href="/blog">Kleinanzeigen</a></li>
												<li><a href="/pages/page/forum-des-presidents-et-contrats">Forum des présidents</a></li>
												<li><a href="/pages/page/skjf">Soutien aux choeurs</a></li>
												<li><a href="/subscribeNewsletter">newsletter service</a></li>
												<li><a href="/pages/page/supportsite">Service depannage</a></li>
											</ul>
										</li>
										
									{{/ifeq}}
								
									<li {{#ifeq ../section key}}class=""{{else}}{{/ifeq}}>
										<a href="{{ href }}">{{ label }}</a>
									</li>
									{{/each}}
								{{#if user.isAdmin}}
									<li><a href="/newsletter">Newsletter</a></li>
								{{/if}}	
							</ul>
							
							<ul class="nav navbar-nav navbar-right">
								<li><a onclick="setGerman()" href="#"><img src="/images/german.png" height="16" width="30"></a></li>
								<li><a onclick="setFrench()" href="#"><img src="/images/french.png" height="16" width="30"></a></li>
								{{#if user}}
								<li><a href="/keystone/signout">Sign Out</a></li>
								{{else}}
								<li><a href="/keystone/signin">Sign In</a></li>
								{{/if}}
							</ul>
						</div>
					</div>
				</div>
		</div>

		<div class="jumbotron jumbotron-fluid mt-0 ml-0 mr-0">
			<div class="container">
				<h1 class="display-4">{{title}}</h1>
				<p class="lead">{{message}}</p>
			</div>
		</div>
		
		<div id="body">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>
		<div class="container">
			<div id="footer">
				{{#if user}}
					<a href="/dashboard">Dashboard</a>
				{{/if}}
				<div style="text-align: center; margin-bottom: 5%">
				© 2016 - Fédération Sociétés Chant du Valais/Wallis
				</div>
			</div>
		</div>
		{{!--
			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
		--}}
		
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>
		{{!--
			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.3.5.min.js
		--}}
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>

		<script src="/js/jspdf.debug.js"></script>
		
		<script src="/js/jspdf.min.js"></script>
		{{{isAdminEditorJS user}}}
	
		<script>
			function setGerman(){
				var url = window.location.href;
				var home = "http://192.168.99.100:3000";
				var home2 = "http://localhost:3000";
				
				if(url.length > home2.length+1){
					if(url.includes("/pages/page")){
						url = url.substring(home2.length+11); // also /pages/page will be cutted off
						url = url + "DynamicPage"
					}
					else if (url.includes("/blog/post")){
						url = url.substring(home2.length+10); // also /pages/page will be cutted off
						url = url + "AdsPage"
					}
					else{
						url = url.substring(home2.length);
					}
				}
				else{
					url = "/Index";
				}
				window.location.replace("/setToGerman" + url);
			}
			function setFrench(){
				var url = window.location.href;
				var home = "http://192.168.99.100:3000";
				var home2 = "http://localhost:3000";

				if(url.length > home2.length+1){
					if(url.includes("/pages/page")){
						url = url.substring(home2.length+11); // also /pages/page will be cutted off
						url = url + "DynamicPage"
					}
					else if (url.includes("/blog/post")){
						url = url.substring(home2.length+10); // also /pages/page will be cutted off
						url = url + "AdsPage"
					}
					else{
						url = url.substring(home2.length);
					}
				}
				else{
					url = "/Index";
				}
				window.location.replace("/setToFrench" + url);
			}
		</script>
	
	</body>
</html>
