<div class="container">
	
	{{#if isGerman}}
		<h1>Kleinanzeigen</h1>
	{{else}}
		<h1>Petite annonces</h1>
	{{/if}}	
	
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-8 col-md-9">
			<h4 class="text-weight-normal">Showing {{ data.posts.results.length}} post.</h4>
			<div class="blog">
				{{# each data.posts.results}}
					<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post">
						<h2><a href="{{postUrl slug}}">{{{title}}}</a></h2>
						<p class="lead text-muted">{{{categoryList categories prefix="Posted in "}}}
							{{#if author.name.first}}by {{author.name.first}}{{/if}}
						</p>
						{{#if image}}<img src="{{{cloudinaryUrl image width=160 height=160 crop='fit' }}}"
										  class="img pull-right">{{/if}}
						
						{{#if contentGerman.extended}}
							<p class="read-more"><a href="{{postUrl slug}}">Read more...</a></p>{{/if}}
					</div>
				{{/each}}
			</div>
		</div>
		<div class="col-sm-4 col-md-3">
			<h2>Categories</h2>
			<div style="margin-top: 70px;" class="list-group">
				<a href="/blog" class="active list-group-item">All Categories</a>
				{{# each data.categories }}
					<a href="{{categoryUrl key}}" class="false list-group-item">{{name}}</a>
				{{/each}}
			</div>
		</div>
	</div>
	{{>pagination}}

	<hr />

	{{#if isGerman}}
		<h1>Post hinzufügen:</h1>
	{{else}}
		<h1>Ajouter AD:</h1>
	{{/if}}
	
	<form action="/blogVisitor" method="post" class="form-horizontal" id="usrForm">
		<div class="form-group">
			<label class="control-label col-sm-2" for="nameEvent">
				{{#if isGerman}}
					Titel:
				{{else}}
					titre:
				{{/if}}
			</label>
			<div class="col-sm-10">
				<input required type="text" class="form-control" name="title">
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="titleGerman">
				{{#if isGerman}}
					Kurzbeschreibung Deutsch:
				{{else}}
					description sommaire allemand:
				{{/if}}
			</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="titleGerman">
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="titleFrench">
				{{#if isGerman}}
					Kurzbeschreibung Französisch:
				{{else}}
					description sommaire francaise:
				{{/if}}
			</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="titleFrench">
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="briefGerman">
				{{#if isGerman}}
					Einleitung Deutsch:
				{{else}}
					Introduction allemand:
				{{/if}}
			</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="briefGerman">
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="briefFrench">
				{{#if isGerman}}
					Einleitung Französisch:
				{{else}}
					Introduction francaise:
				{{/if}}
			</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="briefFrench">
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="contentGerman">
				{{#if isGerman}}
					Inhalt Deutsch:
				{{else}}
					content allemand:
				{{/if}}
			</label>
			<div class="col-sm-10">
				<textarea rows="4" cols="50" name="contentGerman" form="usrForm">...</textarea>
			</div>
		</div>
		
		<div class="form-group">
			<label class="control-label col-sm-2" for="conentFrench">
				{{#if isGerman}}
					Inhalt Französisch:
				{{else}}
					content Francaise:
				{{/if}}
			</label>
			<div class="col-sm-10">
				<textarea rows="4" cols="50" name="contentFrench" form="usrForm">...</textarea>
			</div>
		</div>
		
		<div class="form-group">
			<button id="submit1" type="submit" value="Submit" class="btn btn-info">
				{{#if isGerman}}
					Senden
				{{else}}
					Transmission
				{{/if}}
			</button>
		</div>
	</form>
	
</div>
