<div class="container">
	
	{{#if choirs}}

		<div class="row">
			<div class="col-lg-8">
				<input type="text" class="myInput" id="myInput"
				{{#if isGerman}}
					<input type="text" class="myInput" id="myInput"
						   placeholder="Suche nach Namen, Präsident oder anderen Informationen...">
				{{else}}
					<input type="text" class="myInput" id="myInput"
						   placeholder="Recherchez des noms, des présidents ou tout autre information...">
				{{/if}}
			</div>
			<div class="col-lg-2">
				<button id="btn1" class="btn-info myInput" onclick="addFilter()">
					{{#if isGerman}}
						Einen Filter hinzufügen
					{{else}}
						Ajouter un filtre
					{{/if}}
				</button>
			</div>
			<div id="dynFil" class="col-lg-2">
				<ol id="list" style="list-style: none">
					<li>
						{{#if isGerman}}
							<strong>Filter</strong>
						{{else}}
							<strong>Filtres</strong>
						{{/if}}
					</li>
				</ol>
			</div>
		</div>

		
	
		{{#if isGerman}}
			<button type="button" class="btn btn-primary" onclick="pdf()">Laden Sie die Liste im PDF-Format herunter</button>
		{{else}}
			<button type="button" class="btn btn-primary" onclick="pdf()">Télécharger la liste en PDF</button>
		{{/if}}
		<table id="myTable" class="table myTable">
			<thead>
			<tr>
				
				{{#if isGerman}}
					<th class="cursor" onclick="sortTable(0)">Name<img class="imageSort" src="images/sort.png"></th>
					<th class="cursor" onclick="sortTable(1)">Ort<img class="imageSort" src="images/sort.png"></th>
					<th class="cursor" onclick="sortTable(2)">Präsident<img class="imageSort" src="images/sort.png"></th>
					<th class="cursor" onclick="sortTable(3)">Direktor<img class="imageSort" src="images/sort.png"></th>
					<th class="cursor" onclick="sortTable(4)">Typ<img class="imageSort" src="images/sort.png"></th>
					<th class="cursor" onclick="sortTable(5)">Sprache<img class="imageSort" src="images/sort.png"></th>
					<th>Lokalisation</th>
					<th>Details</th>
				{{else}}
					<th class="cursor" onclick="sortTable(0)">Nom<img class="imageSort" src="images/sort.png"></th>
					<th class="cursor" onclick="sortTable(1)">Ville<img class="imageSort" src="images/sort.png"></th>
					<th class="cursor" onclick="sortTable(2)">Président<img class="imageSort" src="images/sort.png"></th>
					<th class="cursor" onclick="sortTable(3)">Directeur<img class="imageSort" src="images/sort.png"></th>
					<th class="cursor" onclick="sortTable(4)">Type de choeur<img class="imageSort" src="images/sort.png"></th>
					<th class="cursor" onclick="sortTable(5)">Langage<img class="imageSort" src="images/sort.png"></th>
					<th>Localisation</th>
					<th>Détails</th>
				{{/if}}
			</tr>
			</thead>
			<tbody>
			{{#each choirs}}
				<tr>
					<td>{{name}}</td>
					<td>{{place}}</td>
					<td>{{president.name.first}} {{president.name.last}}</td>
					<td>{{director.name.first}} {{director.name.last}}</td>
					<td>{{typeChoir}}</td>
					<td>{{lang}}</td>
					<td>
						{{#if linkLocationMap}}
							<a href="{{linkLocationMap}}"><img src="images/flag.png" height="42" width="30"></a>
							{{else}}
							<img src="images/Noflag.png" height="42" width="30">
						{{/if}}
					</td>
					<td>
						<button type="button" class="btn-xs btn-info" data-toggle="modal" data-target="#{{@index}}">
							{{#if ../isGerman}}
								Siehe Details
							{{else}}
								Voir les details
							{{/if}}
						</button>
					</td>
				</tr>
				<div class="modal fade" id="{{@index}}" tabindex="-1" role="dialog" aria-labelledby="Modal1"
					 aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">{{name}}</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							{{#if ../isGerman}}
								<div class="modal-body">
									<div class="row">
										{{#if place}}
											<div class="col-lg-3">
												<p><strong>Ort: </strong>{{place}}</p>
											</div>
										{{/if}}
										{{#if plz}}
											<div class="col-lg-3">
												<p><strong>Plz: </strong>{{plz}}</p>
											</div>
										{{/if}}
										{{#if president.name.first}}
											<div class="col-lg-3">
												<p><strong>Präsident: </strong>{{president.name.first}} {{president.name.last}}</p>
											</div>
										{{/if}}
										{{#if director.name.first}}
											<div class="col-lg-3">
												<p><strong>Direktor: </strong>{{director.name.first}} {{director.name.last}}</p>
											</div>
										{{/if}}
									</div>
									<div class="row">
										{{#if secretary.name.first}}
											<div class="col-lg-3">
												<p><strong>Sekretär: </strong>{{secretary.name.first}} {{secretary.name.last}}</p>
											</div>
										{{/if}}
										{{#if cashier.name.first}}
											<div class="col-lg-3">
												<p><strong>Kassierer: </strong>{{cashier.name.first}} {{cashier.name.last}}</p>
											</div>
										{{/if}}
										{{#if typeChoir}}
											<div class="col-lg-3">
												<p><strong>Typ: </strong>{{typeChoir}}</p>
											</div>
										{{/if}}
										{{#if lang}}
											<div class="col-lg-3">
												<p><strong>Sprache: </strong>{{lang}}</p>
											</div>
										{{/if}}
									</div>
									<div class="row">
										{{#if secondTypeChoir}}
											<div class="col-lg-3">
												<p><strong>Zweittyp: </strong>{{secondTypeChoir}}</p>
											</div>
										{{/if}}
										{{#if memberFC}}
											<div class="col-lg-3">
												<p><strong>Member FC: </strong>{{memberFC}}</p>
											</div>
										{{/if}}
										{{#if memberUSC}}
											<div class="col-lg-3">
												<p><strong>Member USC: </strong>{{memberUSC}}</p>
											</div>
										{{/if}}
										{{#if foundingYear}}
											<div class="col-lg-3">
												<p><strong>Gründungsjahr: </strong>{{foundingYear}}</p>
											</div>
										{{/if}}
									</div>
								</div>
							{{else}}
								<div class="modal-body">
									<div class="row">
										{{#if place}}
											<div class="col-lg-3">
												<p><strong>Ville: </strong>{{place}}</p>
											</div>
										{{/if}}
										{{#if plz}}
											<div class="col-lg-3">
												<p><strong>Code postal: </strong>{{plz}}</p>
											</div>
										{{/if}}
										{{#if president.name.first}}
											<div class="col-lg-3">
												<p><strong>Président: </strong>{{president.name.first}} {{president.name.last}}</p>
											</div>
										{{/if}}
										{{#if director.name.first}}
											<div class="col-lg-3">
												<p><strong>Directeur: </strong>{{director.name.first}} {{director.name.last}}</p>
											</div>
										{{/if}}
									</div>
									<div class="row">
										{{#if secretary.name.first}}
											<div class="col-lg-3">
												<p><strong>Secrétaire: </strong>{{secretary.name.first}} {{secretary.name.last}}</p>
											</div>
										{{/if}}
										{{#if cashier.name.first}}
											<div class="col-lg-3">
												<p><strong>caissier: </strong>{{cashier.name.first}} {{cashier.name.last}}</p>
											</div>
										{{/if}}
										{{#if typeChoir}}
											<div class="col-lg-3">
												<p><strong>Type de choeur: </strong>{{typeChoir}}</p>
											</div>
										{{/if}}
										{{#if lang}}
											<div class="col-lg-3">
												<p><strong>Langage: </strong>{{lang}}</p>
											</div>
										{{/if}}
									</div>
									<div class="row">
										{{#if secondTypeChoir}}
											<div class="col-lg-3">
												<p><strong>Second Type: </strong>{{secondTypeChoir}}</p>
											</div>
										{{/if}}
										{{#if memberFC}}
											<div class="col-lg-3">
												<p><strong>Membre FSCV: </strong>{{memberFC}}</p>
											</div>
										{{/if}}
										{{#if memberUSC}}
											<div class="col-lg-3">
												<p><strong>Membre GCVC: </strong>{{memberUSC}}</p>
											</div>
										{{/if}}
										{{#if foundingYear}}
											<div class="col-lg-3">
												<p><strong>Année de fondation: </strong>{{foundingYear}}</p>
											</div>
										{{/if}}
									</div>
								</div>
							{{/if}}
						</div>
					</div>
				</div>
			{{/each}}
			</tbody>
		</table>
	{{else}}
		<!-- else -->
		{{#if isGerman}}
			<h3 class="text-muted">Es gibt keinen Chor.</h3>
		{{else}}
			<h3 class="text-muted">Il n'y a aucun choeur.</h3>
		{{/if}}
	{{/if}}
</div>

<script>

	var lastid = 0;
	
	function addFilter() {
		if(document.getElementById('myInput').value != "" && document.getElementById('list').getElementsByTagName("li").length <= 6) {
			var list = document.getElementById('list');
			var filter = document.getElementById('myInput').value;
			var entry = document.createElement('li');
			entry.appendChild(document.createTextNode(filter));
			entry.setAttribute('id', 'item' + lastid);
			var removeButton = document.createElement('button');
			removeButton.appendChild(document.createTextNode("-"));
			removeButton.setAttribute('onClick', 'removeName("' + 'item' + lastid + '")');
			removeButton.setAttribute('class', 'btn-danger');
			entry.appendChild(removeButton);
			list.appendChild(entry);
			lastid++;
			document.getElementById('myInput').value = ""; 
			myFunction();
		}
	}
	
	function removeName(itemid) {
		var item = document.getElementById(itemid);
		list.removeChild(item);
		myFunction();
	}
	
	function myFunction() {
		var input, input1, input2, input3, input4, input5, filter, filter1, filter2, filter3, filter4, filter5, table, tr1, td1, td2, td3, i;

		
		filter = ""; 
		filter1 = ""; 
		filter2 = ""; 
		filter3 = ""; 
		filter4 = ""; 
		filter5 = "";

		var inputs = document.getElementById('list').getElementsByTagName("li");

		if(inputs[1] != null){
			filter = inputs[1].innerText.replace("-", "").toUpperCase();
		}
		if(inputs[2] != null){
			filter1 = inputs[2].innerText.replace("-", "").toUpperCase();
		}

		if(inputs[3] != null){
			filter2 = inputs[3].innerText.replace("-", "").toUpperCase();
		}

		if(inputs[4] != null){
			filter3 = inputs[4].innerText.replace("-", "").toUpperCase();
		}

		if(inputs[5] != null){
			filter4 = inputs[5].innerText.replace("-", "").toUpperCase();
		}
		
		if(inputs[6] != null){
			filter5 = inputs[6].innerText.replace("-", "").toUpperCase();
		}
		
		
		table = document.getElementById("myTable");
		tr = table.getElementsByTagName("tr");


		// Loop through all table rows, and hide those who don't match the search query
		for (i = 0; i < tr.length; i++) {
			td1 = tr[i].getElementsByTagName("td")[0];
			td2 = tr[i].getElementsByTagName("td")[1];
			td3 = tr[i].getElementsByTagName("td")[2];
			if (td1 || td2 || td3) {
				if ((td1.innerHTML.toUpperCase().indexOf(filter) > -1 || td2.innerHTML.toUpperCase().indexOf(filter) > -1 || td3.innerHTML.toUpperCase().indexOf(filter) > -1) && (td1.innerHTML.toUpperCase().indexOf(filter1) > -1 || td2.innerHTML.toUpperCase().indexOf(filter1) > -1 || td3.innerHTML.toUpperCase().indexOf(filter1) > -1)&& (td1.innerHTML.toUpperCase().indexOf(filter2) > -1 || td2.innerHTML.toUpperCase().indexOf(filter2) > -1 || td3.innerHTML.toUpperCase().indexOf(filter2) > -1)&& (td1.innerHTML.toUpperCase().indexOf(filter3) > -1 || td2.innerHTML.toUpperCase().indexOf(filter3) > -1 || td3.innerHTML.toUpperCase().indexOf(filter3) > -1)&& (td1.innerHTML.toUpperCase().indexOf(filter4) > -1 || td2.innerHTML.toUpperCase().indexOf(filter4) > -1 || td3.innerHTML.toUpperCase().indexOf(filter4) > -1)&& (td1.innerHTML.toUpperCase().indexOf(filter5) > -1 || td2.innerHTML.toUpperCase().indexOf(filter5) > -1 || td3.innerHTML.toUpperCase().indexOf(filter5) > -1)) {
					tr[i].style.display = "";
				} else {
					tr[i].style.display = "none";
				}
			}
		}
	}

	function sortTable(n) {
		var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
		table = document.getElementById("myTable");
		switching = true;
		// Set the sorting direction to ascending:
		dir = "asc";
		/* Make a loop that will continue until
        no switching has been done: */
		while (switching) {
			// Start by saying: no switching is done:
			switching = false;
			rows = table.rows;
			/* Loop through all table rows (except the
            first, which contains table headers): */
			for (i = 1; i < (rows.length - 1); i++) {
				// Start by saying there should be no switching:
				shouldSwitch = false;
				/* Get the two elements you want to compare,
                one from current row and one from the next: */
				x = rows[i].getElementsByTagName("TD")[n];
				y = rows[i + 1].getElementsByTagName("TD")[n];
				/* Check if the two rows should switch place,
                based on the direction, asc or desc: */
				if (dir == "asc") {
					if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
						// If so, mark as a switch and break the loop:
						shouldSwitch = true;
						break;
					}
				} else if (dir == "desc") {
					if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
						// If so, mark as a switch and break the loop:
						shouldSwitch = true;
						break;
					}
				}
			}
			if (shouldSwitch) {
				/* If a switch has been marked, make the switch
                and mark that a switch has been done: */
				rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
				switching = true;
				// Each time a switch is done, increase this count by 1:
				switchcount ++;
			} else {
				/* If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again. */
				if (switchcount == 0 && dir == "asc") {
					dir = "desc";
					switching = true;
				}
			}
		}
	}

	function pdf() {
		var doc = new jsPDF();

		var table = document.getElementById("myTable");

		var height = 20;
		var width = 20;
		var counter = 0;

		doc.setFontSize(40);
		doc.text(width, height, "Aufstellung der Chöre");

		doc.setFontSize(15);

		var table = document.getElementById("myTable");
		for (var i = 1, row; row = table.rows[i]; i++) {

			if(row.style.display=="") {
				counter++;

				if(i%13==0){
					doc.addPage();
					height = 20;
				}

				width = 20;

				height = height + 20;

				doc.text(width, height, counter.toString()+".");

				width = width +10;

				for (var j = 0, col; col = row.cells[j], j < row.cells.length - 1; j++, width = width + 60) {
					doc.text(width, height, col.innerHTML);
					doc.line(10, height + 8, 200, height + 8);
				}
			}
		}

		doc.save('Test.pdf');

	}
</script>
