<div class="container">
	{{#if comitees}}
		{{#each comitees}}
			
			<h1>{{name}}</h1>
		
			{{#if director}}
				{{#if ../isGerman}}
					<h3>Kommittee Direktor</h3>
				{{else}}
					<h3>Comité directeur</h3>
				{{/if}}
	
				{{#each director}}
						<button type="button" class="btn bg-transparent  border-button" data-toggle="modal" data-target="#d{{@index}}">
							<p>
								{{name.first}}
								{{name.last}}
								{{#if comiteRole}}
									({{comiteRole}})
								{{/if}}
							</p>
						</button>
						<div class="modal fade" id="d{{@index}}" tabindex="-1" role="dialog" aria-labelledby="Modal1" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">
											{{name.first}}
											{{name.last}}
											{{#if comiteRole}}
												({{comiteRole}})
											{{/if}}
										</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										{{#if image}}
											<img src="{{cloudinaryUrl image	 height='400'}}">
										{{/if}}
										{{#if ../../isGerman}}
											<h4>Kontact</h4>
										{{else}}
											<h4>Contact</h4>
										{{/if}}
										<div class="row">
											{{#if email}}
												<div class="col-lg-3">
													<p><strong>
														Email:
													</strong>{{email}}</p>
												</div>
											{{/if}}
											{{#if address}}
												<div class="col-lg-3">
													<p><strong>
														{{#if ../../isGerman}}
															Adresse:
														{{else}}
															Adresse:
														{{/if}}
													</strong>
													<p>{{address}}</p>
													<p>{{plz}}</p>
													<p>{{place}}</p>
												</div>
											{{/if}}
											{{#if businessPhone}}
												<div class="col-lg-3">
													{{#if ../../isGerman}}
														<strong>Telefon geschäftlich:</strong>
													{{else}}
														<strong>Téléphone commercialement:</strong>
													{{/if}} <p>
	
													{{businessPhone}}</p>
												</div>
											{{/if}}
											{{#if privatePhone}}
												<div class="col-lg-3">
													{{#if ../../isGerman}}
														<strong>Telefon privat:</strong>
													{{else}}
														<strong>Téléphone privé:</strong>
													{{/if}} <p>
													{{privatePhone}}</p>
												</div>
											{{/if}}
											{{#if fax}}
												<div class="col-lg-3">
													<p><strong>
														{{#if ../../isGerman}}
															Faxgerät:
														{{else}}
															Fax:
														{{/if}}
													</strong>{{fax}}</p>
												</div>
											{{/if}}
										</div>
									</div>
								</div>
							</div>
						</div>
				{{/each}}
			{{/if}}
		
		{{#if president}}
			{{#if ../isGerman}}
				<h3>Kantonalvorstand</h3>
			{{else}}
				<h3>Présidents des groupements</h3>
			{{/if}}
			{{#each president}}
				<button type="button" class="btn bg-transparent border-button" data-toggle="modal" data-target="#p{{@index}}">
					<p>
						{{name.first}}
						{{name.last}}
						{{#if comiteRole}}
							({{comiteRole}})
						{{/if}}
					</p>
				</button>
				<div class="modal fade" id="p{{@index}}" tabindex="-1" role="dialog" aria-labelledby="Modal1" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">
									{{name.first}}
									{{name.last}}
									{{#if comiteRole}}
										({{comiteRole}})
									{{/if}}
								</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								{{#if image}}
									<img src="{{cloudinaryUrl image	 height='400'}}">
								{{/if}}
								{{#if ../../isGerman}}
									<h4>Kontact</h4>
								{{else}}
									<h4>Contact</h4>
								{{/if}}
								<div class="row">
									{{#if email}}
										<div class="col-lg-3">
											<p><strong>
												Email:
											</strong>{{email}}</p>
										</div>
									{{/if}}
									{{#if address}}
										<div class="col-lg-3">
											<p><strong>
												{{#if ../../isGerman}}
													Adresse:
												{{else}}
													Adresse:
												{{/if}}
											</strong>
											<p>{{address}}</p>
											<p>{{plz}}</p>
											<p>{{place}}</p>
										</div>
									{{/if}}
									{{#if businessPhone}}
										<div class="col-lg-3">
											{{#if ../../isGerman}}
												<strong>Telefon geschäftlich:</strong>
											{{else}}
												<strong>Téléphone commercialement:</strong>
											{{/if}} <p>

											{{businessPhone}}</p>
										</div>
									{{/if}}
									{{#if privatePhone}}
										<div class="col-lg-3">
											{{#if ../../isGerman}}
												<strong>Telefon privat:</strong>
											{{else}}
												<strong>Téléphone privé:</strong>
											{{/if}} <p>
											{{privatePhone}}</p>
										</div>
									{{/if}}
									{{#if fax}}
										<div class="col-lg-3">
											<p><strong>
												{{#if ../../isGerman}}
													Faxgerät:
												{{else}}
													Fax:
												{{/if}}
											</strong>{{fax}}</p>
										</div>
									{{/if}}
								</div>
							</div>
						</div>
					</div>
				</div>
			{{/each}}
		{{/if}}
		{{#if coPresident}}
			
		
			{{#if ../isGerman}}
				<h3>Co-Präsidenten der Musikkommission</h3>
			{{else}}
				<h3>Co-Présidents de la Commission de Musique</h3>
			{{/if}}
			{{#each coPresident}}
				<button type="button" class="btn bg-transparent border-button" data-toggle="modal" data-target="#cP{{@index}}">
					<p>
						{{name.first}}
						{{name.last}}
						{{#if comiteRole}}
							({{comiteRole}})
						{{/if}}
					</p>
				</button>
				<div class="modal fade" id="cP{{@index}}" tabindex="-1" role="dialog" aria-labelledby="Modal1" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">
									{{name.first}}
									{{name.last}}
									{{#if comiteRole}}
										({{comiteRole}})
									{{/if}}
								</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								{{#if image}}
									<img src="{{cloudinaryUrl image	 height='400'}}">
								{{/if}}
								{{#if ../../isGerman}}
									<h4>Kontact</h4>
								{{else}}
									<h4>Contact</h4>
								{{/if}}
								<div class="row">
									{{#if email}}
										<div class="col-lg-3">
											<p><strong>
												Email:
											</strong>{{email}}</p>
										</div>
									{{/if}}
									{{#if address}}
										<div class="col-lg-3">
											<p><strong>
												{{#if ../../isGerman}}
													Adresse:
												{{else}}
													Adresse:
												{{/if}}
											</strong>
											<p>{{address}}</p>
											<p>{{plz}}</p>
											<p>{{place}}</p>
										</div>
									{{/if}}
									{{#if businessPhone}}
										<div class="col-lg-3">
											{{#if ../../isGerman}}
												<strong>Telefon geschäftlich:</strong>
											{{else}}
												<strong>Téléphone commercialement:</strong>
											{{/if}} <p>

											{{businessPhone}}</p>
										</div>
									{{/if}}
									{{#if privatePhone}}
										<div class="col-lg-3">
											{{#if ../../isGerman}}
												<strong>Telefon privat:</strong>
											{{else}}
												<strong>Téléphone privé:</strong>
											{{/if}} <p>
											{{privatePhone}}</p>
										</div>
									{{/if}}
									{{#if fax}}
										<div class="col-lg-3">
											<p><strong>
												{{#if ../../isGerman}}
													Faxgerät:
												{{else}}
													Fax:
												{{/if}}
											</strong>{{fax}}</p>
										</div>
									{{/if}}
								</div>
							</div>
						</div>
					</div>
				</div>
			{{/each}}
		{{/if}}
		{{#if porteDrapeau}}
			
		
			{{#if ../isGerman}}
				<h3>Fähnrich und AGACH</h3>
			{{else}}
				<h3>Porte-Drapeau et délégué AGACH</h3>
			{{/if}}
			{{#each porteDrapeau}}
				<button type="button" class="btn bg-transparent border-button" data-toggle="modal" data-target="#pD{{@index}}">
					<p>
						{{name.first}} 
						{{name.last}}
						{{#if comiteRole}}
							({{comiteRole}})
						{{/if}}
					</p>
				</button>
				<div class="modal fade" id="pD{{@index}}" tabindex="-1" role="dialog" aria-labelledby="Modal1" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">
									{{name.first}} 
									{{name.last}} 
									{{#if comiteRole}}
										({{comiteRole}})
									{{/if}}
								</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								{{#if image}}
									<img src="{{cloudinaryUrl image	 height='400'}}">
								{{/if}}
								{{#if ../../isGerman}}
									<h4>Kontakt</h4>
								{{else}}
									<h4>Contact</h4>
								{{/if}}
								<div class="row">
									{{#if email}}
									<div class="col-lg-3">
										<p><strong>
											Email:
										</strong>{{email}}</p>
									</div>
									{{/if}}	
									{{#if address}}
										<div class="col-lg-3">
											<p><strong>
												{{#if ../../isGerman}}
													Adresse:
												{{else}}
													Adresse:
												{{/if}}
											</strong>
											<p>{{address}}</p>
											<p>{{plz}}</p>
											<p>{{place}}</p>
										</div>
									{{/if}}
									{{#if businessPhone}}
									<div class="col-lg-3">
										{{#if ../../isGerman}}
											<strong>Telefon geschäftlich:</strong>
										{{else}}
											<strong>Téléphone commercialement:</strong>
										{{/if}} <p>

										{{businessPhone}}</p>
									</div>
									{{/if}}
									{{#if privatePhone}}
									<div class="col-lg-3">
										{{#if ../../isGerman}}
											<strong>Telefon privat:</strong>
										{{else}}
											<strong>Téléphone privé:</strong>
										{{/if}} <p>
										{{privatePhone}}</p>
									</div>
									{{/if}}
									{{#if fax}}
									<div class="col-lg-3">
										<p><strong>
											{{#if ../../isGerman}}
												Faxgerät:
											{{else}}
												Fax:
											{{/if}}
										</strong>{{fax}}</p>
									</div>
									{{/if}}	
								</div>
							</div>
						</div>
					</div>
				</div>
			{{/each}}
		{{/if}}
			<hr />
		{{/each}}
	{{/if}}
</div>
