<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Material Design Bootstrap</title>
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<div class="container">
	<ul class="nav nav-tabs">
		<li id="one" class="active"><a data-toggle="tab" href="#home">User</a></li>
	{{#if choirs}}
		<li id="two" class=""><a data-toggle="tab" href="#menu1">Choir</a></li>
	{{/if}}
	{{#if user.isAdmin}}
		<li id="three" class=""><a data-toggle="tab" href="#menu2">Statistics</a></li>
	{{/if}}
	</ul>

	<div class="tab-content">
		<div id="home" class="tab-pane fade in active">
			
			<form action="/dashboardUser" method = "post" class="form-horizontal">
				<div id="heada" class="">
					<h1>My User:</h1>
				</div>
				<input type="hidden" class="form-control" name="id" value="{{user._id}}">

				<div class="form-group">
					<label class="control-label col-sm-2" for="email">Firstname:</label>
					<div class="col-sm-10">
						<input required type="text" value="{{user.name.first}}" class="form-control" name="firstname" placeholder="Enter firstname">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="email">Lastname:</label>
					<div class="col-sm-10">
						<input required type="text" name="lastname" value="{{user.name.last}}" class="form-control" placeholder="Enter lastname">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="email">Email:</label>
					<div class="col-sm-10">
						<input required type="email" name="email" value="{{user.email}}" class="form-control" placeholder="Enter email">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="email">Password:</label>
					<div class="col-sm-10">
						<input required type="password" name="password" id="password" value="" class="form-control" placeholder="Enter new password" onkeyup='check();'>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="email">Confirm password:</label>
					<div class="col-sm-10">
						<input required type="password" id="confirm_password" value="" class="form-control" placeholder="Confirm new password" onkeyup='check();'>
					</div>
				</div>

				<div class="col-lg-10 col-lg-offset-2">
					<span id='message'></span>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<div class="checkbox">
							<label><input name="subscriber" type="checkbox" {{#if user.isSubscriber}}
										  checked
							{{/if}}>Subscribe to Newsletters</label>
						</div>
					</div>
				</div>

				<input type="hidden" name="admin" value="{{user.isAdmin}}">

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button id="submit" type="submit" value="submit" class="btn btn-default">Submit</button>
					</div>
				</div>
			</form>
			
			
		</div>
		<div id="menu1" class="tab-pane fade">


			{{#each choirs}}
				<div class="col-lg-6">
					<form action="/dashboardChoir" method = "post" class="form-horizontal">
						<h1>Your choir: {{name}}</h1>
						<input type="hidden" name="id" value="{{_id}}">

						<div class="form-group">
							<label class="control-label col-sm-2" for="name">Name:</label>
							<div class="col-sm-10">
								<input required type="text" value="{{name}}" class="form-control" name="name" placeholder="Enter Name">
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2" for="plz">PLZ:</label>
							<div class="col-sm-10">
								<input required type="text" value="{{plz}}" class="form-control" name="plz" placeholder="Enter plz">
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2" for="place">Place:</label>
							<div class="col-sm-10">
								<input type="number" value="{{place}}" class="form-control" name="place" placeholder="Enter place">
							</div>
						</div>
 
						
						<div class="form-group">
							<label class="control-label col-sm-2" for="directorFirstname">Director firstname:</label>
							<div class="col-sm-10">
								<input type="text" value="{{directorFirstname}}" class="form-control" name="directorFirstname" placeholder="Enter director firstname">
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2" for="directorLastname">Director lastname:</label>
							<div class="col-sm-10">
								<input type="text" value="{{directorLastname}}" class="form-control" name="directorLastname" placeholder="Enter director lastname">
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2" for="cashierFirstname">Cashier firstname:</label>
							<div class="col-sm-10">
								<input type="text" value="{{cashierFirstname}}" class="form-control" name="cashierFirstname" placeholder="Enter cashier firstname">
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2" for="cashierLastname">Cashier lastname:</label>
							<div class="col-sm-10">
								<input type="text" value="{{cashierLastname}}" class="form-control" name="cashierLastname" placeholder="Enter cashier lastname">
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2" for="secretaryFirstname">Secretary firstname:</label>
							<div class="col-sm-10">
								<input type="text" value="{{secretaryFirstname}}" class="form-control" name="secretaryFirstname" placeholder="Enter secretary firstname">
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2" for="secretaryLastname">Secretary lastname:</label>
							<div class="col-sm-10">
								<input type="text" value="{{secretaryLastname}}" class="form-control" name="secretaryLastname" placeholder="Enter secretary lastname">
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2" for="foundingYear">Founding year:</label>
							<div class="col-sm-10">
								<input type="number" value="{{foundingYear}}" class="form-control" name="foundingYear" placeholder="Enter founding year">
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2" for="homepage">Homepage:</label>
							<div class="col-sm-10">
								<input type="number" value="{{homepage}}" class="form-control" name="homepage" placeholder="Enter homepage">
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2" for="lastUpdate">Last updated:</label>
							<div class="col-sm-10">
								<input type="number" value="{{lastUpdate}}" class="form-control" name="lastUpdate" placeholder="Enter lastUpdated">
							</div>
						</div>
						
						<button id="submit1" type="submit" value="Submit" class="btn btn-default" onclick="setChoirsActive()">Submit</button>
					</form>
				</div>
			{{/each}}
			
			
		</div>
		<div id="menu2" class="tab-pane fade">


			<h1>Statistics</h1>
			<h4>Please choose a month:</h4>

			<div class="card m-5">


				<div class="btn-group">

					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							Dropdown
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a onclick="getJanData()">Jan</a></li>
							<li><a onclick="getFebData()">Feb</a></li>
							<li><a onclick="getMarData()">Mar</a></li>
							<li><a onclick="getAprData()">Apr</a></li>
							<li><a onclick="getMaiData()">Mai</a></li>
							<li><a onclick="getJunData()">Jun</a></li>
							<li><a onclick="getJulData()">Jul</a></li>
							<li><a onclick="getAugData()">Aug</a></li>
							<li><a onclick="getSepData()">Sep</a></li>
							<li><a onclick="getOctData()">Oct</a></li>
							<li><a onclick="getNovData()">Nov</a></li>
							<li><a onclick="getDezData()">Dez</a></li>
						</ul>
					</div>
				</div>
				<h3>Most visited pages</h3>				
				<canvas id="myChart" style="max-width: 1200px"></canvas>

				<h3>Send newsletters</h3>
				<canvas id="myChart" style="max-width: 1200px"></canvas>
			</div>
			
			
		</div>
	</div>

		<!-- SCRIPTS -->
		<!-- JQuery -->
		<script type="text/javascript" src="diagramm/js/jquery-3.3.1.min.js"></script>
		<!-- Bootstrap tooltips -->
		<script type="text/javascript" src="diagramm/js/popper.min.js"></script>
		<!-- Bootstrap core JavaScript -->
		<script type="text/javascript" src="diagramm/js/bootstrap.min.js"></script>
		<!-- MDB core JavaScript -->
		<script type="text/javascript" src="diagramm/js/mdb.min.js"></script>

		<script>
			var ctx = document.getElementById("myChart").getContext('2d');

			var dataset = [];
			
			function getJanData(){
				var actuelMonth;
				dataset = [];
				
				{{#each statistic}}
					actuelMonth = {{actuelMonth}}
					if(actuelMonth === 0)
					{
						dataset = [
							//Index	
							{{countIndex}},
							//Gallery	
							{{countGallery}},
							//Events	
							{{countEvents}},
							//Contacts	
							{{countContact}},
							//Blog	
							{{countBlog}},
							//Choir	
							{{countChoir}},
							//Dashboard	
							{{countDashboard}},
							//Sent tickets	
							{{countSentTicket}},
							//Sent newsletters	
							{{countSentNewsletter}}
						];
					}
				{{/each}}
				loadDiagramm(dataset);
			}

			function getFebData(){
				var actuelMonth;
				dataset = [];

				{{#each statistic}}
					actuelMonth = {{actuelMonth}}
					if(actuelMonth === 1)
					{
						dataset = [
							//Index	
							{{countIndex}},
							//Gallery	
							{{countGallery}},
							//Events	
							{{countEvents}},
							//Contacts	
							{{countContact}},
							//Blog	
							{{countBlog}},
							//Choir	
							{{countChoir}},
							//Dashboard	
							{{countDashboard}},
							//Sent tickets	
							{{countSentTicket}},
							//Sent newsletters	
							{{countSentNewsletter}}
						];
					}
				{{/each}}
				loadDiagramm(dataset);
			}

			function getMarData(){
				var actuelMonth;
				dataset = [];

				{{#each statistic}}
					actuelMonth = {{actuelMonth}}
					if(actuelMonth === 2)
					{
						dataset = [
							//Index	
							{{countIndex}},
							//Gallery	
							{{countGallery}},
							//Events	
							{{countEvents}},
							//Contacts	
							{{countContact}},
							//Blog	
							{{countBlog}},
							//Choir	
							{{countChoir}},
							//Dashboard	
							{{countDashboard}},
							//Sent tickets	
							{{countSentTicket}},
							//Sent newsletters	
							{{countSentNewsletter}}
						];
					}
				{{/each}}
				loadDiagramm(dataset);
			}

			function getAprData(){
				var actuelMonth;
				dataset = [];

				{{#each statistic}}
					actuelMonth = {{actuelMonth}}
					if(actuelMonth === 3)
					{
						dataset = [
							//Index	
							{{countIndex}},
							//Gallery	
							{{countGallery}},
							//Events	
							{{countEvents}},
							//Contacts	
							{{countContact}},
							//Blog	
							{{countBlog}},
							//Choir	
							{{countChoir}},
							//Dashboard	
							{{countDashboard}},
							//Sent tickets	
							{{countSentTicket}},
							//Sent newsletters	
							{{countSentNewsletter}}
						];
					}
				{{/each}}
				loadDiagramm(dataset);
			}

			function getMaiData(){
				var actuelMonth;
				dataset = [];

				{{#each statistic}}
					actuelMonth = {{actuelMonth}}
					if(actuelMonth === 4)
					{
						dataset = [
							//Index	
							{{countIndex}},
							//Gallery	
							{{countGallery}},
							//Events	
							{{countEvents}},
							//Contacts	
							{{countContact}},
							//Blog	
							{{countBlog}},
							//Choir	
							{{countChoir}},
							//Dashboard	
							{{countDashboard}},
							//Sent tickets	
							{{countSentTicket}},
							//Sent newsletters	
							{{countSentNewsletter}}
						];
					}
				{{/each}}
				loadDiagramm(dataset);
			}

			function getJunData(){
				var actuelMonth;
				dataset = [];

				{{#each statistic}}
					actuelMonth = {{actuelMonth}}
					if(actuelMonth === 5)
					{
						dataset = [
							//Index	
							{{countIndex}},
							//Gallery	
							{{countGallery}},
							//Events	
							{{countEvents}},
							//Contacts	
							{{countContact}},
							//Blog	
							{{countBlog}},
							//Choir	
							{{countChoir}},
							//Dashboard	
							{{countDashboard}},
							//Sent tickets	
							{{countSentTicket}},
							//Sent newsletters	
							{{countSentNewsletter}}
						];
					}
				{{/each}}
				loadDiagramm(dataset);
			}

			function getJulData(){
				var actuelMonth;
				dataset = [];

				{{#each statistic}}
					actuelMonth = {{actuelMonth}}
					if(actuelMonth === 6)
					{
						dataset = [
							//Index	
							{{countIndex}},
							//Gallery	
							{{countGallery}},
							//Events	
							{{countEvents}},
							//Contacts	
							{{countContact}},
							//Blog	
							{{countBlog}},
							//Choir	
							{{countChoir}},
							//Dashboard	
							{{countDashboard}},
							//Sent tickets	
							{{countSentTicket}},
							//Sent newsletters	
							{{countSentNewsletter}}
						];
					}
				{{/each}}
				loadDiagramm(dataset);
			}

			function getAugData(){
				var actuelMonth;
				dataset = [];

				{{#each statistic}}
					actuelMonth = {{actuelMonth}}
					if(actuelMonth === 7)
					{
						dataset = [
							//Index	
							{{countIndex}},
							//Gallery	
							{{countGallery}},
							//Events	
							{{countEvents}},
							//Contacts	
							{{countContact}},
							//Blog	
							{{countBlog}},
							//Choir	
							{{countChoir}},
							//Dashboard	
							{{countDashboard}},
							//Sent tickets	
							{{countSentTicket}},
							//Sent newsletters	
							{{countSentNewsletter}}
						];
					}
				{{/each}}
				loadDiagramm(dataset);
			}

			function getSepData(){
				var actuelMonth;
				dataset = [];

				{{#each statistic}}
					actuelMonth = {{actuelMonth}}
					if(actuelMonth === 8)
					{
						dataset = [
							//Index	
							{{countIndex}},
							//Gallery	
							{{countGallery}},
							//Events	
							{{countEvents}},
							//Contacts	
							{{countContact}},
							//Blog	
							{{countBlog}},
							//Choir	
							{{countChoir}},
							//Dashboard	
							{{countDashboard}},
							//Sent tickets	
							{{countSentTicket}},
							//Sent newsletters	
							{{countSentNewsletter}}
						];
					}
				{{/each}}
				loadDiagramm(dataset);
			}

			function getOctData(){
				var actuelMonth;
				dataset = [];

				{{#each statistic}}
					actuelMonth = {{actuelMonth}}
					if(actuelMonth === 9)
					{
						dataset = [
							//Index	
							{{countIndex}},
							//Gallery	
							{{countGallery}},
							//Events	
							{{countEvents}},
							//Contacts	
							{{countContact}},
							//Blog	
							{{countBlog}},
							//Choir	
							{{countChoir}},
							//Dashboard	
							{{countDashboard}},
							//Sent tickets	
							{{countSentTicket}},
							//Sent newsletters	
							{{countSentNewsletter}}
						];
					}
				{{/each}}
				loadDiagramm(dataset);
			}

			function getNovData(){
				var actuelMonth;
				dataset = [];

				{{#each statistic}}
					actuelMonth = {{actuelMonth}}
					if(actuelMonth === 10)
					{
						dataset = [
							//Index	
							{{countIndex}},
							//Gallery	
							{{countGallery}},
							//Events	
							{{countEvents}},
							//Contacts	
							{{countContact}},
							//Blog	
							{{countBlog}},
							//Choir	
							{{countChoir}},
							//Dashboard	
							{{countDashboard}},
							//Sent tickets	
							{{countSentTicket}},
							//Sent newsletters	
							{{countSentNewsletter}}
						];
					}
				{{/each}}
				loadDiagramm(dataset);
			}

			function getDezData(){
				var actuelMonth;
				dataset = [];

				{{#each statistic}}
					actuelMonth = {{actuelMonth}}
					if(actuelMonth === 11)
					{
						dataset = [
							//Index	
							{{countIndex}},
							//Gallery	
							{{countGallery}},
							//Events	
							{{countEvents}},
							//Contacts	
							{{countContact}},
							//Blog	
							{{countBlog}},
							//Choir	
							{{countChoir}},
							//Dashboard	
							{{countDashboard}},
							//Sent tickets	
							{{countSentTicket}},
							//Sent newsletters	
							{{countSentNewsletter}}
						];
					}
				{{/each}}
				loadDiagramm(dataset);
			}
			
			function loadDiagramm(dataset){
				var myChart = new Chart(ctx, {
					type: 'bar',
					data: {
						labels: ["Index", "Gallery", "Events", "Contact", "Blog", "Choir", "Dashboard", "Sent tickets", "sent newsletters"],
						datasets: [{
							label: '# of Votes',
							data: dataset,
							backgroundColor: [
								'rgba(255, 99, 132, 0.2)',
								'rgba(54, 162, 235, 0.2)',
								'rgba(255, 206, 86, 0.2)',
								'rgba(75, 192, 192, 0.2)',
								'rgba(153, 102, 255, 0.2)',
								'rgba(255, 159, 64, 0.2)',
								'rgba(153, 102, 255, 0.2)',
								'rgba(153, 102, 255, 0.2)',
								'rgba(153, 102, 255, 0.2)'
							],
							borderColor: [
								'rgba(255,99,132,1)',
								'rgba(54, 162, 235, 1)',
								'rgba(255, 206, 86, 1)',
								'rgba(75, 192, 192, 1)',
								'rgba(153, 102, 255, 1)',
								'rgba(255, 159, 64, 1)',
								'rgba(153, 102, 255, 1)',
								'rgba(153, 102, 255, 1)',
								'rgba(153, 102, 255, 1)'
							],
							borderWidth: 1
						}]
					},
					options: {
						scales: {
							yAxes: [{
								ticks: {
									beginAtZero:true
								}
							}]
						}
					}
				});
			}
			

			var check = function() {
				if (document.getElementById('password').value == document.getElementById('confirm_password').value) {
					document.getElementById('message').style.color = 'green';
					document.getElementById('message').innerHTML = 'matching';
					document.getElementById('submit').disabled = false;
				} else {
					document.getElementById('message').style.color = 'red';
					document.getElementById('message').innerHTML = 'not matching';
					document.getElementById('submit').disabled = true;
				}
			}

			var setChoirsActive = function() {
				var one = document.getElementById('one');
				var two = document.getElementById('two');
				one.classList.toggle("active");
				two.classList.toggle("active"); 
			}

			var setStatisticsActive = function() {
				var three = document.getElementById('three');
				three.classList.toggle("active");
			}
		</script>
</div>
