<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Material Design Bootstrap</title>
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<p/>




<div class="container">
	<ul class="nav nav-tabs">
		<li id="one" class="active">
			<a data-toggle="tab" href="#home">
				{{#if isGerman}}
					Benutzer
					{{else}}
					Utilisateur
				{{/if}}		
			</a>
		</li>
	{{#if choirs}}
		<li id="two" class="">
			<a data-toggle="tab" href="#menu1">
				{{#if isGerman}}
					Chöre
				{{else}}
					Choir
				{{/if}}
			</a>
		</li>
	{{/if}}
	{{#if user.isAdmin}}
		<li id="three" class="">
			<a data-toggle="tab" href="#menu2">
				{{#if isGerman}}
					Statistik
				{{else}}
					Statistique
				{{/if}}
			</a>
		</li>
	{{/if}}
	</ul>

	<div class="tab-content">
		<div id="home" class="tab-pane fade in active">
			
			<form action="/dashboardUser" method = "post" class="form-horizontal">
				<div id="heada" class="">
					<h1>My User:</h1>
				</div>
				<input type="hidden" class="form-control" name="id" value="{{user._id}}">

				<div class="form-group">
					<label class="control-label col-sm-2" for="email">
						{{#if isGerman}}
							Vorname:
						{{else}}
							Prénom:
						{{/if}}
					</label>
					<div class="col-sm-10">
						<input required type="text" value="{{user.name.first}}" class="form-control" name="firstname" placeholder="Enter firstname">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="email">
						{{#if isGerman}}
							Nachname:
						{{else}}
							Nom de famille: 
						{{/if}}
					</label>
					<div class="col-sm-10">
						<input required type="text" name="lastname" value="{{user.name.last}}" class="form-control" placeholder="Enter lastname">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="email">Email:</label>
					<div class="col-sm-10">
						<input required type="email" name="email" value="{{user.email}}" class="form-control" placeholder="Enter email">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="address">Adresse:</label>
					<div class="col-sm-10">
						<input required type="text" name="address" value="{{user.address}}" class="form-control" placeholder="Enter place">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="address">
						{{#if isGerman}}
							Zweite Adresse:
						{{else}}
							Deuxième adresse:
						{{/if}}
					</label>
					<div class="col-sm-10">
						<input type="text" name="secondAddress" value="{{user.secondAddress}}" class="form-control" placeholder="Enter place">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="plz">
						{{#if isGerman}}
							PLZ:
						{{else}}
							Postcode:
						{{/if}}
					</label>
					<div class="col-sm-10">
						<input required type="number" name="plz" value="{{user.plz}}" class="form-control" placeholder="Enter plz">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="place">
						{{#if isGerman}}
							Ort:
						{{else}}
							lieu:
						{{/if}}
					</label>
					<div class="col-sm-10">
						<input required type="text" name="place" value="{{user.place}}" class="form-control" placeholder="Enter place">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="privatePhone">
						{{#if isGerman}}
							Telefon privat:
						{{else}}
							Téléphone privé:
						{{/if}}
					</label>
					<div class="col-sm-10">
						<input type="text" name="privatePhone" value="{{user.privatePhone}}" class="form-control" placeholder="Enter private phone">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="businessPhone">
						{{#if isGerman}}
							Telefon geschäftlich:
						{{else}}
							Téléphone professionnel:
						{{/if}}
					</label>
					<div class="col-sm-10">
						<input type="text" name="businessPhone" value="{{user.businessPhone}}" class="form-control" placeholder="Enter business phone">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="fax">
						Fax:
					</label>
					<div class="col-sm-10">
						<input type="text" name="fax" value="{{user.fax}}" class="form-control" placeholder="Enter fax">
					</div>
				</div>
				

				<div class="form-group">
					<label class="control-label col-sm-2" for="email">
						{{#if isGerman}}
							Passwort:
						{{else}}
							mot de passe:
						{{/if}}
					</label>
					<div class="col-sm-10">
						<input required type="password" name="password" id="password" value="" class="form-control" placeholder="Enter new password" onkeyup='check();'>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="email">
						{{#if isGerman}}
							Passwort bestätigen:
						{{else}}
							Confirmer le mot de passe: 
						{{/if}}
					</label>
					<div class="col-sm-10">
						<input required type="password" id="confirm_password" value="" class="form-control" placeholder="Confirm new password" onkeyup='check();'>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-1" for="lastUpdate">
						{{#if isGerman}}
							Letztes update:
						{{else}}
							dernière modification:
						{{/if}}
					</label>
					<div class="col-sm-12">
						<input type="text" value="{{user.lastUpdate}}" class="form-control" name="lastUpdate" readonly>
					</div>
				</div>

				<div class="col-lg-10 col-lg-offset-2">
					<span id='message'></span>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<div class="checkbox">
							<label><input name="subscriber" 
										  type="checkbox" 
											{{#if user.isSubscriber}}
										  		checked
											{{/if}}
								>
								{{#if isGerman}}
									Newsletter abonniert
								{{else}}
									S'abonner à la newsletter
								{{/if}}
							</label>
						</div>
					</div>
				</div>

				<input type="hidden" name="admin" value="{{user.isAdmin}}">

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button id="submit" type="submit" value="submit" class="btn btn-default">Submit</button>
					</div>
				</div>
			</form>
			
			
		</div>
		<div id="menu1" class="tab-pane fade">


			{{#each choirs}}
				<div class="col-lg-6">
					<form action="/dashboardChoir" method = "post" class="form-horizontal">
						<h1>
							{{#if ../isGerman}}
								Dein Chor:
							{{else}}
								Votre choir:
							{{/if}} {{name}}
						</h1>
						<input type="hidden" name="id" value="{{_id}}">

						<div class="form-group">
							<label class="control-label col-sm-2" for="name">
								{{#if ../isGerman}}
									Name:
								{{else}}
									Nom:
								{{/if}}
							</label>
							<div class="col-sm-10">
								<input required type="text" value="{{name}}" class="form-control" name="name" placeholder="Enter Name">
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2" for="plz">
								{{#if ../isGerman}}
									PLZ:
								{{else}}
									Postcode:
								{{/if}}
							</label>
							<div class="col-sm-10">
								<input type="number" value="{{plz}}" class="form-control" name="plz" placeholder="Enter plz">
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2" for="place">
								{{#if ../isGerman}}
									Ort:
								{{else}}
									lieu:
								{{/if}}
							</label>
							<div class="col-sm-10">
								<input type="text" value="{{place}}" class="form-control" name="place" placeholder="Enter place">
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2" for="president">
								{{#if ../isGerman}}
									Präsident/in:
								{{else}}
									President:
								{{/if}}
							</label>
							<select name="president" class="form-control">
								<option value="{{president._id}}">{{president.name.first}} {{president.name.last}}</option>
								{{#each ../useritem}}
									<option value="{{_id}}">{{name.first}} {{name.last}}</option>
								{{/each}}
							</select>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2" for="director">
								{{#if ../isGerman}}
									Direktor/in:
								{{else}}
									Directeur:
								{{/if}}
							</label>
							<select name="director" class="form-control">
								<option value="{{director._id}}">{{director.name.first}} {{director.name.last}}</option>
								{{#each ../useritem}}
									<option value="{{_id}}">{{name.first}} {{name.last}}</option>
								{{/each}}
							</select>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2" for="secondDirector">
								{{#if ../isGerman}}
									Zweiter Direktor/in:
								{{else}}
									Deuxième directeur:
								{{/if}}
							</label>
							<select name="secondDirector" class="form-control">
								<option value="{{secondDirector._id}}">{{secondDirector.name.first}} {{secondDirector.name.last}}</option>
								{{#each ../useritem}}
									<option value="{{_id}}">{{name.first}} {{name.last}}</option>
								{{/each}}
							</select>
						</div>
						
						<div class="form-group">
							<label class="control-label col-sm-2" for="cashier">
								{{#if ../isGerman}}
									Kassier/in:
								{{else}}
									trésorier:
								{{/if}}
							</label>
							<select name="cashier" class="form-control">
								<option value="{{cashier._id}}">{{cashier.name.first}} {{cashier.name.last}}</option>
								{{#each ../useritem}}
									<option value="{{_id}}">{{name.first}} {{name.last}}</option>
								{{/each}}
							</select>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2" for="secretary">
								{{#if ../isGerman}}
									Sekretär/in:
								{{else}}
									secrétaire:
								{{/if}}
							</label>
							<select name="secretary" class="form-control">
								<option value="{{secretary._id}}">{{secretary.name.first}} {{secretary.name.last}}</option>
								{{#each ../useritem}}
									<option value="{{_id}}">{{name.first}} {{name.last}}</option>
								{{/each}}
							</select>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2" for="foundingYear">
								{{#if ../isGerman}}
									Gründungsjahr:
								{{else}}
									Année de fondation:
								{{/if}}
							</label>
							<div class="col-sm-10">
								<input type="number" value="{{foundingYear}}" class="form-control" name="foundingYear" placeholder="Enter founding year">
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2" for="homepage">Homepage:</label>
							<div class="col-sm-10">
								<input type="text" value="{{homepage}}" class="form-control" name="homepage" placeholder="Enter homepage">
							</div>
						</div>
						
						<div class="form-group">
							<label class="control-label col-sm-2" for="typeChoir">
								{{#if ../isGerman}}
									Typ Chor:
								{{else}}
									Type chœurs:
								{{/if}}
							</label>
							<select name="typeChoir" class="form-control">
								<option value="{{typeChoir}}">{{typeChoir}}</option>
								<option value="CX">CX</option>
								<option value="CD">CD</option>
								<option value="CJ">CJ</option>
								<option value="CH">CH</option>
								<option value="CE">CE</option>
							</select>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2" for="secondTypeChoir">
								{{#if ../isGerman}}
									Zweiter Chor Typ:
								{{else}}
									Deuxième type chœurs:
								{{/if}}
							</label>
							<select name="secondTypeChoir" class="form-control">
								<option value="{{secondTypeChoir}}">{{secondTypeChoir}}</option>
								<option value="CX">CX</option>
								<option value="CD">CD</option>
								<option value="CJ">CJ</option>
								<option value="CH">CH</option>
								<option value="CE">CE</option>
							</select>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2" for="groupMt">
								{{#if ../isGerman}}
									GruppeMT:
								{{else}}
									GroupMT:
								{{/if}}
							</label>
							<select name="groupMt" class="form-control">
								<option value="{{groupMt}}">{{groupMt}}</option>
								<option value="BV_Y">BV_Y</option>
								<option value="BV_N">BV_N</option>
								<option value="UCC_Y">UCC_Y</option>
								<option value="UCC_N">UCC_N</option>
								<option value="VC_Y">VC_Y</option>
								<option value="VC_N">VC_N</option>
								<option value="VOG_Y">VOG_Y</option>
								<option value="VOG_N">VOG_N</option>
							</select>
						</div>
						
						<div class="form-group">
							<label class="control-label col-sm-2" for="entranceGroupMt">
								{{#if ../isGerman}}
									Eintritt Gruppe MT:
								{{else}}
									GroupeMT d'admission:
								{{/if}}
							</label>
							<div class="col-sm-10">
								{{entranceGroupMt}}
								<input type="date" value="" class="form-control" name="entranceGroupMt" placeholder="Enter entrance GroupMt">
								<input type="hidden" value="{{entranceGroupMt}}" class="form-control" name="entranceGroupMtPrevious">
							</div>
						</div>

						<div class="form-group">
								<div class="checkbox">
									<label><input name="chGospel" type="checkbox" {{#if chGospel}}
												  checked
									{{/if}}>chGospel</label>
								</div>
						</div>

						<div class="form-group">
							<div class="checkbox">
								<label><input name="chEglise" type="checkbox" {{#if chEglise}}
											  checked
								{{/if}}>chEglise</label>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2" for="type2">
								{{#if ../isGerman}}
									Typ 2:
								{{else}}
									Type2:
								{{/if}}
							</label>
							<div class="col-sm-10">
								<input type="text" value="{{type2}}" class="form-control" name="type2" placeholder="Enter type2">
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2" for="memberUSC">
								{{#if ../isGerman}}
									Mitglieder USC:
								{{else}}
									Membres USC:
								{{/if}}
							</label>
							<div class="col-sm-10">
								<input type="text" value="{{memberUSC}}" class="form-control" name="memberUSC" placeholder="Enter memberUSC">
							</div>
						</div>

						
						<div class="form-group">
							<label class="control-label col-sm-2" for="entranceUSC">
								{{#if ../isGerman}}
									Eintritt USC:
								{{else}}
									Inscription USC:
								{{/if}}
							</label>
							<div class="col-sm-10">
								{{entranceUSC}}
								<input type="date" value="{{entranceUSC}}" class="form-control" name="entranceUSC" placeholder="Enter entrance entranceUSC">
								<input type="hidden" value="{{entranceUSC}}" class="form-control" name="entranceUSCprevious">
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2" for="memberFC">
								{{#if ../isGerman}}
									Mitglieder FC:
								{{else}}
									Membres FC:
								{{/if}}
							</label>
							<div class="col-sm-10">
								<input type="text" value="{{memberFC}}" class="form-control" name="memberFC" placeholder="Enter memberFC">
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2" for="entranceFC">
								{{#if ../isGerman}}
									Eintritt FC:
								{{else}}
									Inscription FC:
								{{/if}}
							</label>
							<div class="col-sm-10">
								{{entranceFC}}
								<input type="date" value="" class="form-control" name="entranceFC" placeholder="Enter entrance entranceFC">
								<input type="hidden" value="{{entranceFC}}" class="form-control" name="entranceFCprevious">
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2" for="courierName">
								{{#if ../isGerman}}
									Kuriername:
								{{else}}
									nom de coursier:
								{{/if}}
							</label>
							<div class="col-sm-10">
								<input type="text" value="{{courierName}}" class="form-control" name="courierName" placeholder="Enter courierName">
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2" for="dekanat">Dekanat:</label>
							<div class="col-sm-10">
								<input type="text" value="{{dekanat}}" class="form-control" name="dekanat" placeholder="Enter dekanat">
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-3" for="lang">
								{{#if ../isGerman}}
									Sprache:
								{{else}}
									Langue:
								{{/if}}
							</label>
							<select name="lang" class="form-control">
								<option value="{{lang}}">{{lang}}</option>
								<option value="Deutsch">Deutsch</option>
								<option value="Français">Français</option>
								<option value="English">English</option>
								<option value="Italiano">Italiano</option>
								<option value="Español">Español</option>
							</select>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2" for="dekanat">
								{{#if ../isGerman}}
									Bemerkungen:
								{{else}}
									Remarques:
								{{/if}}
							</label>
							<div class="col-sm-10">
								<input type="text" value="{{remarks}}" class="form-control" name="remarks" placeholder="Enter remark">
							</div>
						</div>
						
						<div class="form-group">
							<label class="control-label col-sm-1" for="lastUpdate">
								{{#if ../isGerman}}
									Letztes update:
								{{else}}
									dernière modification:
								{{/if}}
							</label>
							<div class="col-sm-12">
								<input type="text" value="{{lastUpdate}}" class="form-control" name="lastUpdate" readonly>
							</div>
						</div>
						
						<button id="submit1" type="submit" value="Submit" class="btn btn-default" onclick="setChoirsActive()">
							{{#if ../isGerman}}
								Speichern:
							{{else}}
								confirmer:
							{{/if}}
						</button>
					</form>
				</div>
			{{/each}}
			
			
		</div>
		<div id="menu2" class="tab-pane fade">


			<h1>
				{{#if isGerman}}
					Statistik:
				{{else}}
					Statistique:
				{{/if}}
			</h1>

			<div class="card m-5">
				
				<h3>
					{{#if isGerman}}
						Statistik Total:
					{{else}}
						Statistique total:
					{{/if}}
				</h3>
				<canvas id="totalChart" style="max-width: 1200px"></canvas>
				
				<h3>
					{{#if isGerman}}
						Monatliche Statistik:
					{{else}}
						Statistiques mensuelles:
					{{/if}}
				</h3>
				<h4>
					{{#if isGerman}}
						Wählen Sie einen Monat:
					{{else}}
						Choisissez un mois:
					{{/if}}
				</h4>
				<div class="btn-group">
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							Dropdown
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a onclick="getJanData()">Jan</a></li>
							<li><a onclick="getFebData()">Feb</a></li>
							<li><a onclick="getMarData()">Mar</a></li>
							<li><a onclick="getAprData()">Apr</a></li>
							<li><a onclick="getMaiData()">Mai</a></li>
							<li><a onclick="getJunData()">Jun</a></li>
							<li><a onclick="getJulData()">Jul</a></li>
							<li><a onclick="getAugData()">Aug</a></li>
							<li><a onclick="getSepData()">Sep</a></li>
							<li><a onclick="getOctData()">Oct</a></li>
							<li><a onclick="getNovData()">Nov</a></li>
							<li><a onclick="getDezData()">Dez</a></li>
						</ul>
					</div>
				</div>
				<canvas id="myChart" style="max-width: 1200px"></canvas>
				

			</div>
			
			
		</div>
	</div>

		<!-- SCRIPTS -->
		<!-- JQuery -->
		<script type="text/javascript" src="diagramm/js/jquery-3.3.1.min.js"></script>
		<!-- Bootstrap tooltips -->
		<script type="text/javascript" src="diagramm/js/popper.min.js"></script>
		<!-- Bootstrap core JavaScript -->
		<script type="text/javascript" src="diagramm/js/bootstrap.min.js"></script>
		<!-- MDB core JavaScript -->
		<script type="text/javascript" src="diagramm/js/mdb.min.js"></script>

		<script>
			var ctx = document.getElementById("myChart").getContext('2d');
			var ttx = document.getElementById("totalChart").getContext('2d');

			//used for monthyl statistics
			var dataset = [];
			
			//used for total statistic
			var dataSetTotal = [0,0,0,0,0,0,0,0,0];
			
				{{#each statistic}}
					
					dataSetTotal = [
						//Index	
						{{countIndex}}+ dataSetTotal[0],
						//Gallery	
						{{countGallery}} + dataSetTotal[1],
						//Events	
						{{countEvents}}+ dataSetTotal[2],
						//Contacts	
						{{countContact}} + dataSetTotal[3],
						//Blog	
						{{countBlog}} + dataSetTotal[4],
						//Choir	
						{{countChoir}} + dataSetTotal[5],
						//Dashboard	
						{{countDashboard}} + dataSetTotal[6],
						//Sent tickets	
						{{countSentTicket}} + dataSetTotal[7],
						//Sent newsletters	
						{{countSentNewsletter}} + dataSetTotal[8]
					];
				{{/each}}
			
			//---------------------- TOTAL STATISTIC

			var totalChart = new Chart(ttx, {
				type: 'bar',
				data: {
					labels: ["Index", "Gallery", "Events", "Contact", "Blog", "Choir", "Dashboard", "Sent tickets", "sent newsletters"],
					datasets: [{
						label: '# of Votes',
						data: dataSetTotal,
						backgroundColor: [
							'rgba(255, 99, 132, 0.2)',
							'rgba(54, 162, 235, 0.2)',
							'rgba(255, 206, 86, 0.2)',
							'rgba(75, 192, 192, 0.2)',
							'rgba(153, 102, 255, 0.2)',
							'rgba(255, 159, 64, 0.2)',
							'rgba(153, 102, 255, 0.2)',
							'rgba(153, 102, 255, 0.2)',
							'rgba(153, 102, 255, 0.2)'
						],
						borderColor: [
							'rgba(255,99,132,1)',
							'rgba(54, 162, 235, 1)',
							'rgba(255, 206, 86, 1)',
							'rgba(75, 192, 192, 1)',
							'rgba(153, 102, 255, 1)',
							'rgba(255, 159, 64, 1)',
							'rgba(153, 102, 255, 1)',
							'rgba(153, 102, 255, 1)',
							'rgba(153, 102, 255, 1)'
						],
						borderWidth: 1
					}]
				},
				options: {
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero:true
							}
						}]
					}
				}
			});
			





			//----------------------- MONTHLY STATISTIC
			function getJanData(){
				var actuelMonth;
				dataset = [];
				
				{{#each statistic}}
					actuelMonth = {{actuelMonth}}
					if(actuelMonth === 0)
					{
						dataset = [
							//Index	
							{{countIndex}},
							//Gallery	
							{{countGallery}},
							//Events	
							{{countEvents}},
							//Contacts	
							{{countContact}},
							//Blog	
							{{countBlog}},
							//Choir	
							{{countChoir}},
							//Dashboard	
							{{countDashboard}},
							//Sent tickets	
							{{countSentTicket}},
							//Sent newsletters	
							{{countSentNewsletter}}
						];
					}
				{{/each}}
				loadDiagramm(dataset);
			}

			function getFebData(){
				var actuelMonth;
				dataset = [];

				{{#each statistic}}
					actuelMonth = {{actuelMonth}}
					if(actuelMonth === 1)
					{
						dataset = [
							//Index	
							{{countIndex}},
							//Gallery	
							{{countGallery}},
							//Events	
							{{countEvents}},
							//Contacts	
							{{countContact}},
							//Blog	
							{{countBlog}},
							//Choir	
							{{countChoir}},
							//Dashboard	
							{{countDashboard}},
							//Sent tickets	
							{{countSentTicket}},
							//Sent newsletters	
							{{countSentNewsletter}}
						];
					}
				{{/each}}
				loadDiagramm(dataset);
			}

			function getMarData(){
				var actuelMonth;
				dataset = [];

				{{#each statistic}}
					actuelMonth = {{actuelMonth}}
					if(actuelMonth === 2)
					{
						dataset = [
							//Index	
							{{countIndex}},
							//Gallery	
							{{countGallery}},
							//Events	
							{{countEvents}},
							//Contacts	
							{{countContact}},
							//Blog	
							{{countBlog}},
							//Choir	
							{{countChoir}},
							//Dashboard	
							{{countDashboard}},
							//Sent tickets	
							{{countSentTicket}},
							//Sent newsletters	
							{{countSentNewsletter}}
						];
					}
				{{/each}}
				loadDiagramm(dataset);
			}

			function getAprData(){
				var actuelMonth;
				dataset = [];

				{{#each statistic}}
					actuelMonth = {{actuelMonth}}
					if(actuelMonth === 3)
					{
						dataset = [
							//Index	
							{{countIndex}},
							//Gallery	
							{{countGallery}},
							//Events	
							{{countEvents}},
							//Contacts	
							{{countContact}},
							//Blog	
							{{countBlog}},
							//Choir	
							{{countChoir}},
							//Dashboard	
							{{countDashboard}},
							//Sent tickets	
							{{countSentTicket}},
							//Sent newsletters	
							{{countSentNewsletter}}
						];
					}
				{{/each}}
				loadDiagramm(dataset);
			}

			function getMaiData(){
				var actuelMonth;
				dataset = [];

				{{#each statistic}}
					actuelMonth = {{actuelMonth}}
					if(actuelMonth === 4)
					{
						dataset = [
							//Index	
							{{countIndex}},
							//Gallery	
							{{countGallery}},
							//Events	
							{{countEvents}},
							//Contacts	
							{{countContact}},
							//Blog	
							{{countBlog}},
							//Choir	
							{{countChoir}},
							//Dashboard	
							{{countDashboard}},
							//Sent tickets	
							{{countSentTicket}},
							//Sent newsletters	
							{{countSentNewsletter}}
						];
					}
				{{/each}}
				loadDiagramm(dataset);
			}

			function getJunData(){
				var actuelMonth;
				dataset = [];

				{{#each statistic}}
					actuelMonth = {{actuelMonth}}
					if(actuelMonth === 5)
					{
						dataset = [
							//Index	
							{{countIndex}},
							//Gallery	
							{{countGallery}},
							//Events	
							{{countEvents}},
							//Contacts	
							{{countContact}},
							//Blog	
							{{countBlog}},
							//Choir	
							{{countChoir}},
							//Dashboard	
							{{countDashboard}},
							//Sent tickets	
							{{countSentTicket}},
							//Sent newsletters	
							{{countSentNewsletter}}
						];
					}
				{{/each}}
				loadDiagramm(dataset);
			}

			function getJulData(){
				var actuelMonth;
				dataset = [];

				{{#each statistic}}
					actuelMonth = {{actuelMonth}}
					if(actuelMonth === 6)
					{
						dataset = [
							//Index	
							{{countIndex}},
							//Gallery	
							{{countGallery}},
							//Events	
							{{countEvents}},
							//Contacts	
							{{countContact}},
							//Blog	
							{{countBlog}},
							//Choir	
							{{countChoir}},
							//Dashboard	
							{{countDashboard}},
							//Sent tickets	
							{{countSentTicket}},
							//Sent newsletters	
							{{countSentNewsletter}}
						];
					}
				{{/each}}
				loadDiagramm(dataset);
			}

			function getAugData(){
				var actuelMonth;
				dataset = [];

				{{#each statistic}}
					actuelMonth = {{actuelMonth}}
					if(actuelMonth === 7)
					{
						dataset = [
							//Index	
							{{countIndex}},
							//Gallery	
							{{countGallery}},
							//Events	
							{{countEvents}},
							//Contacts	
							{{countContact}},
							//Blog	
							{{countBlog}},
							//Choir	
							{{countChoir}},
							//Dashboard	
							{{countDashboard}},
							//Sent tickets	
							{{countSentTicket}},
							//Sent newsletters	
							{{countSentNewsletter}}
						];
					}
				{{/each}}
				loadDiagramm(dataset);
			}

			function getSepData(){
				var actuelMonth;
				dataset = [];

				{{#each statistic}}
					actuelMonth = {{actuelMonth}}
					if(actuelMonth === 8)
					{
						dataset = [
							//Index	
							{{countIndex}},
							//Gallery	
							{{countGallery}},
							//Events	
							{{countEvents}},
							//Contacts	
							{{countContact}},
							//Blog	
							{{countBlog}},
							//Choir	
							{{countChoir}},
							//Dashboard	
							{{countDashboard}},
							//Sent tickets	
							{{countSentTicket}},
							//Sent newsletters	
							{{countSentNewsletter}}
						];
					}
				{{/each}}
				loadDiagramm(dataset);
			}

			function getOctData(){
				var actuelMonth;
				dataset = [];

				{{#each statistic}}
					actuelMonth = {{actuelMonth}}
					if(actuelMonth === 9)
					{
						dataset = [
							//Index	
							{{countIndex}},
							//Gallery	
							{{countGallery}},
							//Events	
							{{countEvents}},
							//Contacts	
							{{countContact}},
							//Blog	
							{{countBlog}},
							//Choir	
							{{countChoir}},
							//Dashboard	
							{{countDashboard}},
							//Sent tickets	
							{{countSentTicket}},
							//Sent newsletters	
							{{countSentNewsletter}}
						];
					}
				{{/each}}
				loadDiagramm(dataset);
			}

			function getNovData(){
				var actuelMonth;
				dataset = [];

				{{#each statistic}}
					actuelMonth = {{actuelMonth}}
					if(actuelMonth === 10)
					{
						dataset = [
							//Index	
							{{countIndex}},
							//Gallery	
							{{countGallery}},
							//Events	
							{{countEvents}},
							//Contacts	
							{{countContact}},
							//Blog	
							{{countBlog}},
							//Choir	
							{{countChoir}},
							//Dashboard	
							{{countDashboard}},
							//Sent tickets	
							{{countSentTicket}},
							//Sent newsletters	
							{{countSentNewsletter}}
						];
					}
				{{/each}}
				loadDiagramm(dataset);
			}

			function getDezData(){
				var actuelMonth;
				dataset = [];

				{{#each statistic}}
					actuelMonth = {{actuelMonth}}
					if(actuelMonth === 11)
					{
						dataset = [
							//Index	
							{{countIndex}},
							//Gallery	
							{{countGallery}},
							//Events	
							{{countEvents}},
							//Contacts	
							{{countContact}},
							//Blog	
							{{countBlog}},
							//Choir	
							{{countChoir}},
							//Dashboard	
							{{countDashboard}},
							//Sent tickets	
							{{countSentTicket}},
							//Sent newsletters	
							{{countSentNewsletter}}
						];
					}
				{{/each}}
				loadDiagramm(dataset);
			}
			
			function loadDiagramm(dataset){
				var myChart = new Chart(ctx, {
					type: 'bar',
					data: {
						labels: ["Index", "Gallery", "Events", "Contact", "Blog", "Choir", "Dashboard", "Sent tickets", "sent newsletters"],
						datasets: [{
							label: '# of Votes',
							data: dataset,
							backgroundColor: [
								'rgba(255, 99, 132, 0.2)',
								'rgba(54, 162, 235, 0.2)',
								'rgba(255, 206, 86, 0.2)',
								'rgba(75, 192, 192, 0.2)',
								'rgba(153, 102, 255, 0.2)',
								'rgba(255, 159, 64, 0.2)',
								'rgba(153, 102, 255, 0.2)',
								'rgba(153, 102, 255, 0.2)',
								'rgba(153, 102, 255, 0.2)'
							],
							borderColor: [
								'rgba(255,99,132,1)',
								'rgba(54, 162, 235, 1)',
								'rgba(255, 206, 86, 1)',
								'rgba(75, 192, 192, 1)',
								'rgba(153, 102, 255, 1)',
								'rgba(255, 159, 64, 1)',
								'rgba(153, 102, 255, 1)',
								'rgba(153, 102, 255, 1)',
								'rgba(153, 102, 255, 1)'
							],
							borderWidth: 1
						}]
					},
					options: {
						scales: {
							yAxes: [{
								ticks: {
									beginAtZero:true
								}
							}]
						}
					}
				});
			}
			
			//------------ END MONTHLY STATISTICs
			

			var check = function() {
				if (document.getElementById('password').value == document.getElementById('confirm_password').value) {
					document.getElementById('message').style.color = 'green';
					document.getElementById('message').innerHTML = 'matching';
					document.getElementById('submit').disabled = false;
				} else {
					document.getElementById('message').style.color = 'red';
					document.getElementById('message').innerHTML = 'not matching';
					document.getElementById('submit').disabled = true;
				}
			}

			var setChoirsActive = function() {
				var one = document.getElementById('one');
				var two = document.getElementById('two');
				one.classList.toggle("active");
				two.classList.toggle("active"); 
			}

			var setStatisticsActive = function() {
				var three = document.getElementById('three');
				three.classList.toggle("active");
			}
		</script>
</div>
