<div class="container">
	<h1>Gallery</h1>
</div>
<div class="container">
	<!-- if galleries -->
	{{#if galleries}}
		{{#each galleries}}
			<h2>{{name}}
				<div class="pull-right text-muted">19th May 2014</div>
			</h2>
			<div class="row gallery-images">
				{{#if heroImage}}
					<div class="col-sm-4 col-md-4 gallery-image">
						<img src="{{cloudinaryUrl heroImage width='680' height='680'}}" class="img-rounded">
					</div>
				{{/if}}
				<div class="col-sm-8 col-md-8">
					<div class="row">
						{{#each images}}
							<div class="col-xs-4 col-sm-4 col-md-3 gallery-image">
								<img src="{{cloudinaryUrl width='300' height='300'}}" class="img-rounded">
							</div>
						{{/each}}
					</div>
				</div>
			</div>
		{{/each}}
	{{else}}
		{{#if isGerman}}
			<h3 class="text-muted">Zurzeit existieren in der Gallerie keine Bilder</h3>
		{{else}}
			<h3 class="text-muted">Pour le moment il n'y a pas d'images dans la galerie.</h3>
		{{/if}}
		
	{{/if}}
</div>
