<body>
<div class="container">

	<h2>Actual Subscribers:</h2>
	{{#each useritem}}
		{{email}};
	{{/each}}

	{{#if newsletter}}
		{{#each newsletter}}
			<div>
				<h3>{{title}}</h3>
				<p><b>State:</b>{{state}} {{sendDate}}</p>
				<p><b>Link to the news</b> {{linkToNews}}</p>
				<button onclick=getEmailsGerman("{{title}}","{{linkToNews}}")>Send german Newsletter</button>
				<button onclick=getEmailsFrench("{{title}}","{{linkToNews}}")>Send french Newsletter</button>
			</div>
			<hr/>
		{{/each}}
	{{else}}
		<!-- else -->
		<h3 class="text-muted">There are no newsletters</h3>
	{{/if}}
</div>

</body>

<script>
	function getEmailsGerman(title, body) {
		var emails = "mailto:";

		{{#each useritem}}
			emails = emails.concat("{{email}},");
		{{/each}}
		
		emails = emails.concat("?subject=newsletter:" +title+"&body=Es gibt Neuigkeiten lesen Sie unsere News: "+body);
		location.href = emails;
	}

	function getEmailsFrench(title, body) {
		var emails = "mailto:";

		{{#each useritem}}
			emails = emails.concat("{{email}},");
		{{/each}}

		emails = emails.concat("?subject=newsletter:" +title+"&body=Il y a des nouvelles pour vous, lisez nos nouvelles : "+body);
		location.href = emails;
	}
</script>
