<body>
<div class="container">
	
	{{#if isGerman}}
		<h2>Tatsächliche Abonnenten:</h2>
	{{else}}
		<h2>Abonnés actuels:</h2>
	{{/if}}
	{{#each useritem}}
		{{email}},
	{{/each}}
	{{#each subscriber}}
		{{email}},
	{{/each}}
	<hr/>

	{{#if isGerman}}
		Geben Sie eine E-Mail Adresse ein, an die Sie die Test-Email senden wollen:
	{{else}}
		Entrez l'adresse email à laquelle vous souhaitez envoyer l'email de test:
	{{/if}}
	
	<input id="email" type="email" name="email" placeholder="Enter email">

	{{#if newsletter}}
		{{#each newsletter}}
			<div>
				<h3>{{title}}</h3>
				<p><b>State:</b>{{state}} {{sendDate}}</p>
				<p><b>Link to the news</b> {{linkToNews}}</p>
				<button onclick=getEmailsGerman("{{title}}","{{linkToNews}}") class="btn-primary">Send german Newsletter</button>
				<button onclick=getEmailsFrench("{{title}}","{{linkToNews}}") class="btn-info	">Send french Newsletter</button>
				<button onclick=sendTestMail("{{title}}","{{linkToNews}}") class="btn-warning">Send test version</button>
			</div>
			<hr/>
		{{/each}}
	{{else}}
		<!-- else -->
		{{#if isGerman}}
			<h3 class="text-muted">Es gibt keine Newsletter.</h3>
		{{else}}
			<h3 class="text-muted">Il n'y a pas de newsletters.</h3>
		{{/if}}
	{{/if}}
</div>

</body>

<script>
	function getEmailsGerman(title, body) {
		var emails = "mailto:";

		{{#each useritem}}
			emails = emails.concat("{{email}},");
		{{/each}}
		
		{{#each subscriber}}
			{{#if isGermanSubscriber}}
				emails = emails.concat("{{email}},");
			{{/if}}
		{{/each}}	
		emails = emails.concat("?subject=newsletter:" +title+"&body=Es gibt Neuigkeiten lesen Sie unsere News: "+body);
		location.href = emails;
	}

	function getEmailsFrench(title, body) {
		var emails = "mailto:";

		{{#each useritem}}
			emails = emails.concat("{{email}},");
		{{/each}}

		{{#each subscriber}}
			{{#if isGermanSubscriber}}
				
			{{else}}
				emails = emails.concat("{{email}},");
			{{/if}}
		{{/each}}

		emails = emails.concat("?subject=newsletter:" +title+"&body=Il y a des nouvelles pour vous, lisez nos nouvelles : "+body);
		location.href = emails;
	}

	function sendTestMail(title, body) {
		var emails = "mailto:";
		emails = emails.concat(document.getElementById("email").value);
		
		emails = emails.concat("?subject=Test-Version for newsletter:" +title+"&body=FRENCH:Il y a des nouvelles pour vous, lisez nos nouvelles : "+body+"   **** GERMAN Es gibt Neuigkeiten lesen Sie unsere News:"+body);
		location.href = emails;
	}
</script>
