<div class="container">
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-8 col-md-9">
			
			{{#if isGerman}}
				<h1>{{data.page.labelGerman}}</h1>
				{{else}}
				<h1>{{data.page.labelFrench}}</h1>
			{{/if}}

			{{#if data.page.image}}
				<img src="{{{cloudinaryUrl data.page.image width=570 height=270 crop='fit' }}}"
					 class="img-responsive">
			{{/if}}
			
				{{#if isGerman}}
					<h2>{{{data.page.contentGerman.brief}}}</h2>
					{{{data.page.contentGerman.extended}}}
				{{else}}
					<h2>{{{data.page.contentFrench.brief}}}</h2>
					{{{data.page.contentFrench.extended}}}
				{{/if}}
		</div>
		<div class="col-sm-4 col-md-3">
			{{#if isGerman}}
				{{#if data.page}}
					{{{data.page.contentGerman.full}}}
				{{else}}
					<h2>Kein Inhalt angefügt</h2>
				{{/if}}
			{{else}}
				{{#if data.page}}
					{{{data.page.contentGerman.full}}}
				{{else}}
					<h2>Aucun contenu ajouté</h2>
				{{/if}}
			{{/if}}
		</div>
	</div>
</div>
